:root{
    --cor-de-fundo:#000000;
    --verde:#9cfa05; 
    --branco:#ffffff;
    --botao-ativo:#fe0404;
    --botao-inativo:#be9191;
    --texto-fundo:#fff71b;
}
body{
    background-color: var(--cor-de-fundo);
    color: var(--branco);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.conteudo-principal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}
.titulo-principal{
    text-align: center;
    width: 100%;
    font-size: 32px;
}
